html {
    text-align: center;
}

.container {
    background-color: teal;
    text-align: center;
    color: white;
}

h2 {
    font-size: 15px;
}

div {
    display: inline-block;
}

div label {
    display: block;
}

input[type=submit]{
    margin-bottom: 5%;
    margin-left: 5%;
}